<ons-page class="page">
  <ons-toolbar>
    <div class="left"> </div>
    <div class="center"> home </div>
    <div class="right"> </div>
  </ons-toolbar>

  <ons-row style="margin-top:20px">
    <ons-col width="20%"> </ons-col>
    <ons-col width="60%" style="text-align:center">
      <button class="button button--material" (click)="push('/list')" style="width:100%">列表-demo--</button>
    </ons-col>
    <ons-col width="20%"></ons-col>
  </ons-row>

  <ons-row style="margin-top:20px">
    <ons-col width="20%"> </ons-col>
    <ons-col width="60%" style="text-align:center">
      <button class="button button--material" (click)="push('/collection')" style="width:100%">标签-demo</button>
    </ons-col>
    <ons-col width="20%"></ons-col>
  </ons-row>

</ons-page>
