<ons-list-title>多选</ons-list-title>
<ul class="list">
  <li class="list-item list-item--tappable">
    <div class="list-item__left">
      <label class="checkbox">
        <input type="checkbox" id="checkbox1" class="checkbox__input" name="c" checked="checked">
        <div class="checkbox__checkmark"></div>
      </label>
    </div>
    <label for="checkbox1" class="list-item__center">
      苹果
    </label>
  </li>
  <li class="list-item list-item--tappable">
    <div class="list-item__left">
      <label class="checkbox">
        <input type="checkbox" id="checkbox2" class="checkbox__input" name="c">
        <div class="checkbox__checkmark"></div>
      </label>
    </div>
    <label for="checkbox2" class="list-item__center">
      香蕉
    </label>
  </li>
</ul>
